#wall
{
  border: 1px solid black;
  height:400px;
  width: 800px;
  margin: 0px auto;
  overflow: auto;
background: -webkit-linear-gradient(left top, white, purple, gray, red, Green, yellow, orange, blue);
}